{{ partial "header.html" . }}
<body>
    <section class="our-locations">
        <h1>Här finns vi.</h1>
        <section class="locations">
            <article>
                <h3>Västra Götaland/<br/>Jönköpings län/<br/>Kalmar län</h3>
                <h4>Oscar Rinaldo</h4>
                <p>Telefon: <a href="tel: +4673-3750954">+4673-3750954</a></p>
                <p>Mail: <a href="mailto: oscar.rinaldo@jo-gruppen.se">oscar.rinaldo@jo-gruppen.se</a></p>
            </article>
            <article>
                <h3>Östergötland</h3>
                <h4>Jacob Mousa</h4>
                <p>Telefon: <a href="tel: +4673-3564508">+4673-3564508</a></p>
                <p>Mail: <a href="mailto: jacob.mousa@jo-gruppen.se">jacob.mousa@jo-gruppen.se</a></p>
            </article>
            <article>
                <h3>Skåne/<br/>Kronobergs län</h3>
                <h4>Anna Salomonsson</h4>
                <p>Telefon: <a href="+4673-9334652">+4673-9334652</a></p>
                <p>Mail: <a href="mailto: anna.salomonsson@jo-gruppen.se">anna.salomonsson@jo-gruppen.se</a></p>
            </article>
            <article>
                <h3>Södermanland/<br/>Stockholms län</h3>
                <h4>Jacob Mousa</h4>
                <p>Telefon: <a href="+4673-3564508">+4673-3564508</a></p>
                <p>Mail: <a href="mailto: jacob.mousa@jo-gruppen.se">jacob.mousa@jo-gruppen.se</a></p>
            </article>
            <article>
                <h3>Värmland/<br/>Dalarnas län</h3>
                <h4>Camilla Norling</h4>
                <p>Telefon: <a href="+4670-4869794">+4670-4869794</a></p>
                <p>Mail: <a href="mailto: camilla.norling@jo-gruppen.se">camilla.norling@jo-gruppen.se</a></p>
            </article>
        </section>
    </section>
</body>
{{ partial "footer.html" . }}