{{ partial "header.html" . }}
<body>
    <section class="hero-section-work">
        <article class="hero-article-work">
            <h1>Jobba hos oss,<br/>assistansjobb med bra villkor.</h1>
            <p>Vi är ett mindre omsorgsnära assistansbolag där ledningen har arbetat både direkt och i ledningsfunktioner inom vård och omsorg i årtionden. <br/><br/>Vi kan omsorg. <br/><br/>Detta är en garant att vi ger dig som anställd en trygg och god arbetsplats. Är du intresserad att arbeta hos oss så är du varmt välkommen att skicka in en spontanansökan till oss på: <a href="mailto: info@jo-gruppen.se">info@jo-gruppen.se</a></p>
        </article>
    </section>
    <section class="benefits-section">
        <h2>Förmåner som anställd:</h2>
        <ul>
            <li>Friskvårdsbidrag</li>
            <li>Arbetskläder</li>
            <li>Ett verksamhetsnära ledarskap.</li>
            <li>Individuell kompetensutbildning</li>
            <li>Metodstöd hand-on i omsorgsarbetet av experter</li>
            <li>Förmånliga rabatter på aktiviteter och produkter till din fritid .</li>
            <p>JO-Gruppen har kollektivavtal med Fremia.</p>
        </ul>
    </section>
</body>
{{ partial "footer.html" . }}