{{ partial "header.html" . }}
<body>
    <section class="contact-section">
        <article class="contact-intro-article">
            <h1>Kontakta oss</h1>
            <p>Du kan kontakta oss nedan eller till lokalt ombud, som du finner på <a href="/harfinnsvi">"här finns vi"</a> utifrån var du bor i Sverige, i alla slags frågor/funderingar. Vi är alltid nåbara, alla dagar på året.</p>
        </article>
        <section class="workers-office-section">
            <h2>Vi på kontoret</h2>
            <section class="workers-cards-section">
                <section class="worker-card">
                    <img src="/img/child-with-muscle-wings.jpg" alt="">
                    <h4>Oscar Rinaldo</h4>
                    <h5>Verksamhetsansvarig</h5>
                    <p>Telefon: <a href="tel: +46733750954">+4673-3750954</a><br/>Email: <a href="mailto:oscar.rinaldo@jo-gruppen.se">oscar.rinaldo@jo-gruppen.se</a></p>
                </section>
                <section class="worker-card">
                    <img src="/img/child-with-muscle-wings.jpg" alt="">
                    <h4>Jacob Mousa</h4>
                    <h5>VD</h5>
                    <p>Telefon: <a href="tel: +46733564508">+4673-3564508</a><br/>Email: <a href="mailto: jacob.mousa@jo-gruppen.se">jacob.mousa@jo-gruppen.se</a></p>
                </section>
                <section class="worker-card">
                    <img src="/img/child-with-muscle-wings.jpg" alt="">
                    <h4>Linda Andersson</h4>
                    <h5>Kvalitetsansvarig</h5>
                    <p>Telefon: <a href="tel: +46705798361">+4670-5798361</a><br/>Email: <a href="mailto: linda.andersson@jo-gruppen.se">linda.andersson@jo-gruppen.se</a></p>
                </section>
            </section>
        </section>
        <section class="information-section">
            <div class="info">
                <h4>Besöksadress</h4>
                <p>Huskvarnavägen 40,<br/> 55454 Jönköping</p>
            </div>
            <div class="info">
                <h4>Postadress</h4>
                <p>JO-Gruppen AB,<br/> Järnvägsgatan 5,<br/> 561 30 Huskvarna</p>
            </div>
            <div class="info">
                <h4>Email</h4>
                <p><a href="mailto: info@jo-gruppen.se">info@jo-gruppen.se</a></p>
            </div>
            <div class="info">
                <h4>Hemsida</h4>
                <p><a href="/index.html">www.jo-gruppen.se</a></p>
            </div> 
            <div class="info">
                <h4>Organisationsnummer</h4>
                <p>559339-8786</p>
            </div>
        </section>
    </section>
</body>
{{ partial "footer.html" . }}