{{ partial "header.html" . }}
 
<section class="hero-section together-section">
    <article class="hero-article together-article">
        <h1>Tillsammans skapar vi den bästa assistansen för dig - på dina villkor.</h1>
        <p>JO-Gruppen är det lilla omsorgsnära assistansbolaget där vi bygger relationer mellan varandra.<br/><br/>Vi tror inte på att vara en stor assistansanordnare. <br/><br/>Vi bygger relationer och arbetar ständigt för att vi ska känna varandra och tillsammans göra din assistans till den bästa.</p>
    </article>
    <img src="/img/child-in-wheelchair.jpg" alt="Pojke i rullstol">
</section>
<section class="about-section about-page" id="reverse">
    <article class="about-article">
        <h2>JO-Gruppen</h2>
        <p>JO-Gruppen startade 2022 men vår historia av att ge stöd till personer tillhörande personkrets 1, 2 & 3 enligt LSS går långt tillbaka i historien. Tillsammans har vi som arbetar i ledningen över 130 års kompetens av vård och omsorg . Vi kan omsorg på djupet! Vi är övertygade om att genom vår gedigna erfarenhet och kunskap inom LSS kan vi ge dig den bästa assistansen - på dina villkor!<br/><br/>Vi som leder verksamheten har utbildningar såsom Lärare , Ekonom , Arbetsterapeut, Socionom, Beteendevetare & Jurist. Vi finns med våra unika kompetenser för dig både direkt kopplat till assistansen men också i andra delar i ditt liv där du kan behöva stöd av någon av våra professioner.</p>
    </article>
    <img src="/img/child-on-phone.jpg" alt="Pojke kollar ner i mobil">
</section>

{{ partial "footer.html" . }}