{{ partial "header.html" . }}
<body>
    <section class="our-support-section">
        <article class="our-support-article">
            <h1>Vårt stöd till dig med assistans<br/>...är mer än juristhjälp.</h1>
            <p>Som kund hos JO-Gruppen så vill vi ge dig, och eventuella företrädare, ett extra stöd för att klara din vardag. Ett intyg kanske ska skrivas? Ett dokument kanske ska in till en myndighet? En bokföring kanske ska upprättas? <br/><br/>Som kund hos JO-Gruppen har du tillgång till ekonom, pedagog, arbetsterapeut, socionom eller beteendevetare i alla slags frågor.... och givetvis har vi jurist ....Vi erbjuder även handledning i grupp, enskilt eller hands-on stöd i assistansgrupper vid behov för att skapa den bästa arbetsgruppen.</p>
        </article>
        <div class="alternative-button"><a href="/kontaktaoss" class="green">
            <p><strong>Frågor? Kontakta oss.</strong></p>
            <img src="/img/long_arrow_green.svg" alt=""></a>
        </div>
    </section>
</body>
{{ partial "footer.html" . }}