<footer>
    <section class="outer-information">
        <a href="/index.html"><img src="/img/white_logo_transparent_background.png" alt="logo" class="logo"></a>
        <section class="information">
            <section class="addresses">
                <section>
                    <p>Besöksadress:<br/>Huskvarnavägen 40,<br/>55454 Jönköping</p>
                    <a href="tel: +46733750954"><p>Telefon: +4673-3750954</p></a>
                    <a href="mailto: info@jo-gruppen.se"><p>Email: info@jo-gruppen.se</p></a>
                </section>
                <section>
                    <p>Postadress:<br/>JO-Gruppen AB,<br/>Järnvägsgatan 5,<br/>56130 Huskvarna</p>
                    <p>Organisationsnummer: 559339-8786</p>
                    <a href="/index.html"><p>Hemsida: www.jo-gruppen.se</p></a>
                </section>
            </section>
            <section class="footer-list">
                <ul>
                    {{ range.Site.Menus.main }}
                    <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </section>
        </section>
        
    </section>
    <p class="copyright">Copyright © 2023 JO-GRUPPEN</p>
</footer>