{{ partial "header.html" . }}
<section class="hero-section">
    <article class="hero-article">
        <div>
            <h1>När andra säger nej säger vi JO!</h1>
            <h2>Vi är JO-Gruppen.</h2>
            <h2>Personlig assistans på dina villkor.</h2>
        </div>
        <p>Vi är assistansbolaget som är djupt förankrad i den småländska myllan med Gnosjöandans flit som vår ledstjärna. Det innebär att det är självklart för oss att alla är lika mycket värda, allt är möjligt bara man jobbar, vi hittar alltid en lösning och vi gör alltid vårt bästa för att ge det bästa stödet till dem vi finns till för. Vi har över 130 års gemensam kompetens av vård och omsorg i vår ledning.</p>
        <a href="blikund"><button>Bli kund hos oss</button></a>
    </article>
    <img src="img/child-with-muscle-wings.jpg" alt=""/>
</section>
<section class="support-section">
    <h2>Stöd för ett självständigt liv.</h2>
    <ul>
        <li> Vi finns och verkar lokalt och erbjuder alltid en personlig kontaktperson till dig.</li>
        <li>Vi arbetar utifrån ditt språk och din kultur.</li>
        <li>Vi ger dina assistenter de bästa villkoren.</li>
        <li>Vi som anordnare har gedigen kompetens och kunskap av arbete med personer som har en funktionsvariation.</li>
        <li>Vi ger dig trygghet och kontinuitet och trygghet.</li>
        <li>Vi kan den lokala kontexten med goda personliga kontakter i myndigheter och näringsliv och stöttar upp för dig vid behov med dessa.</li>
    </ul>
    <div class="alternative-button"><a href="vartstod" class="white">
        <p><strong>Vårt stöd till dig med assistans</strong></p>
        <img src="img/long_arrow_white.svg" alt=""></a>
    </div>
</section>
<section class="about-section">
    <img src="img/child-on-phone.jpg" alt="">
    <article class="about-article">
        <h2>Om oss.</h2>
        <p>JO-Gruppen startade 2022 men vår historia av att ge stöd till personer tillhörande personkrets 1, 2 & 3 enligt LSS går långt tillbaka i historien. Tillsammans har vi som arbetar i ledningen över 130 års kompetens av vård och omsorg . Vi kan omsorg på djupet! Vi är övertygade om att genom vår gedigna erfarenhet och kunskap inom LSS kan vi ge dig den bästa assistansen...</p>
        <a href="omoss"><button>Läs mer</button></a>
    </article>
</section>

{{ partial "footer.html" . }}